# Python Basics with Jupyter
  
  * Run code in cells
  * Add,cut,copy,paste cells
  * Documentation with markdown

# My 1st heading
## My 2nd heading
### My 3rd heading

Hello  

* subheading 1  
* subheading 2  
* subheading 3  
**It is Bold**  
*It is italic*  
**It is bold _and italic_**  
http://hello.com
  
Markdown cells have support of html and other languages like latex

In [ ]:
print('Hello World')       #Note: no semicolons

# Python Basics with Jupyter
  
  * use as calculator
  * underscore
  
  .  
  .  
  .  
  .
  
  12000$/year

In [ ]:
12000/12                     #use as calculator 

                              # (per month)

In [ ]:
_/31                  #undersore is the last output

In [ ]:
12000/12                     #use as calculator

                            #per month

In [ ]:
_/28                 #(31 days month) 

                    #undersore is the last output

.  
.  
.  
.  

## Naming of Variables
.  
.  
.  
.

In [ ]:
my_variable='Hello'         #variable Names
my_variable

#my variable =5       #spacing not allowed
#1my_variable=5       #should not start with number
#True = 5            #reserved key words should not be used

.  
.  
.  


## Everything in python is object (hold data and methods could be applied)
.  
.  
.

## Comon Types
* Numeric: integer, float, complex
* Text: string
* Bolean: True,False
* Sequence: list, tuple, range

.  
.  
.  
.  

## How it works without types?
.  
.  
.  
.

In [5]:
a=5       #python creates dynamically created PyIntObject(on heap managed by operator) containg value 5 and 
          #a (on stack managed by program) is local variable pointing to it
    
a=2.5     #python creats dynamically PyFloatObject

a
type(a)

float

.  
.  
.  
.

## How to check if same types?
.  
.  
.  
.

In [6]:
a=2
b=2.0
a is b    

#'is' checks if refrence point of two local variables
#a and b is same to dynamically created object

False

In [7]:
type(a)

int

In [8]:
type(b)

float

In [10]:
my_str ='Hi'
type(my_str)

str

.  
.  
.  
.  

## Numeric variables and Arithmetic operations
.  
.  
.  
.

In [32]:
a=2         #variables -> no type  (Dynamic type)
b=-2
c=11
#a+b        #add
#a-b       #subtract
#a*b       #multiply
#b/a       #Div
#c/a      #
#int(c/a) 
#b%a      #remainder
#b**a     #power
abs(a)

2

.  
.  
.  
.  
## Comparison Operators
.  
.  
.  
.

In [50]:
a=1         
b=3
#a==b
#a!=b
c=4
#a>c
#a>=c
a<c
#a<=c

True

In [40]:
id(b)

93967133219392

.  
.  
.  
.  

## Logical Operators
.  
.  
.  
.

In [12]:
num=10
status1 = (num==10)
status2 = (num!=10)
#status2 and status1
#status2 or status1
not status1

False

In [19]:
a = True
b = False
c = True
#not a
#not b
#a and b
(a or b) and c

True

.  
.  
.  
.  
.  

## Conditions 
.  
.  
.  
.

In [29]:
s = 'Hiw'
if s=='Hi':
    print(s," string is matched")
else:
    print("string not matched")

#print('outside')

string not matched

In [35]:
num = 6
if num%3==0:
    print(num," is Divisible by 3")
    if num>8:
        print('Number greater than 8')
elif num%3==1:
    print(num," Not Divisible by 3 as remainder is 1")
else:
    print(num," Not Divisible by 3 as remainder is 2")

6  is Divisible by 3

.  
.  
.  
.  
.  
## For Loops
.  
.  
.  
.

In [41]:
for i in range(0,10):    #see range function documentation
    print(i)

print('outside')

0
1
2
3
4
5
6
7
8
9
outside

In [43]:
for i in range(0,10,3):    #0,2,4,6,8
    print(i)

0
3
6
9

In [44]:
#print even numbers
for i in range(0,10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [45]:
#print odd numbers
for i in range(0,10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [46]:
#print even numbers
for i in range(0,10):
    if i%2==0:
        print(i," is even")
    else:
        print(i," is odd")

0  is even
1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd

.  
.  
.  
.  

## While Loops
.  
.  
.  
.

In [48]:
i=0
while i<10:          #how many times this statement is executed
    print(i)
    i+=2              #i=i+2

0
2
4
6
8

In [49]:
i=0
while i<10:         
    print(i)
    i+=3

0
3
6
9

In [51]:
i=0
while i<=10:
    if i%2==0:
        print(i," is even")
    else:
        print(i," is odd")
    i+=1

0  is even
1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

.  
.  
.  
.  

## Functions
.  
.  
.  
.

In [55]:
#check if given number is even or odd
def EvenOdd(i):
    if i%2==0:
        print(i," is even")
    else:
        print(i," is odd")

print(EvenOdd(5))

5  is odd
None

In [59]:
#return even or odd
def EvenOdd(i,j):
    if i%2==0:
        return("even")
    else:
        return("odd")

print(EvenOdd(3,4))

odd

In [64]:
#check return
yy='Hi'
def EvenOdd(i):
    if i%2==0:
        print(yy)
        y="even"
    else:
        y="odd"
    return y

print(EvenOdd(4))
print(y)             #scope of variable        #global variable

Hi
even
Hi

.  
.  
.  
.  
.  
## String Library Functions
check documentation: 
https://docs.python.org/3/library/string.html
* Lower/Upper
* Concatination
* Replication
* Split
* Strip (Slicing checking Substring) / Replace
* String to Numeric
* Format
.  
.  
.  
.

In [53]:
sentance = 'I am Learning Python'  #PyStringObject
sentance
type(sentance)

str

In [55]:
#sentance.lower()        #strings are immutable so this function will return new string
sentance.upper()

'I AM LEARNING PYTHON'

In [56]:
sentance              #orignal variable have same object

'I am Learning Python'

In [62]:
#'My' + ' Name' + ' is'      #concatination of two strings by + symbol
'3'+' _4'

'3 _4'

In [67]:
#s='Name '
#s*4        #replication func to replicate string
#'100'*3
'100'*3 + '15'*2

'1001001001515'

.  
.  
.  
.  
.
* Split, Replace, Strip

.  
.  
.  
.

In [92]:
#s= 'My Name is Usman'              #split function splits string and return list
#s.split('a')                          #by default splits with whitespaces
s= 'Munich,Berlin,Paris,Lahore'
s.split(',')
#s.replace('a','_')                #use replace to replace substring

['Munich', 'Berlin', 'Paris', 'Lahore']

In [94]:
s= 'Munich,Berlin,Paris,Lahore'
s.replace('i','_')                #use replace to replace substring

'Mun_ch,Berl_n,Par_s,Lahore'

In [102]:
s = ' My Name \n'
s.strip()       #strip is used to remove charcters before and
               #after given parameter by default it is whitespaces
#s='***43**'
#s.strip('*')
s='***43**+++'
s1 = s.strip('+')
s1.strip('*')

'43'

.  
.  
.  
.  
.
* Slicing and checking Substring

.  
.  
.  
.

In [106]:
s = 'World'                     #slicing is used to get substring using index's
len(s)
#s[2:4]
#s[3:8]
s[-3:-1]

'rl'

In [110]:
s = 'World'                     #test if string contains substring
#'WO' in s
#'Wo' in s
#s.find('rld')                  #find gives starting index
s.find('Ld')                  #if no substring then it returns -1

-1

.  
.  
.  
.  
.
* String to Numeric
* Format  

.  
.  
.  
.

In [113]:
s='15'           #string to numeric conversion
#int(s)
#float(s)
s='Hello'
int(s)

ValueError: invalid literal for int() with base 10: 'Hello'

In [116]:
#sen = 'I am {} {}'           #format is used to format string with given variables -> {} 
                                #these brackets are place holders
sen.format('Data','Analyst')
sen = 'I am {1} {0}'            #specifiy position in place holders
sen.format('Data','Analyst')

'I am Analyst Data'

.  
.  
.  
.  
.  

## List Datastructure in Python
* List Basics (mutable/resizable)
* Slicing
* Common Functions

In [102]:
x = ['15','10','40','30']         #define list
#x[-3]                    #slicing 
#x[2:]
#x[4]
#len(x)
#x[2]=100            #value can be changed
#x.insert(2,130)     #use insert function
#x.append('200')    #list can be appended
#x.pop(2)           #delete 3rd entry
#x.remove('10')     #delete by entry value
s = '_'.join(x)  #to get as string
print(s)
x

15_10_40_30

['15', '10', '40', '30']

In [111]:
x = ['15','10','40','30']         #define list

#x.sort()
#x.sort(reverse=True)           #sort descending order
#x1 = sorted(x,reverse=True)
#x1
#min(x)
max(x)
#x

'40'

In [115]:
list1=[1,'a',22,'b']    #can hold different data types
list2=[10,20,'abc']
#list1.extend(list2)     #add two lists
#list1.append(list2)     #append creates nested lists
#list1


Name=['Mango','Apple','Banana','Grapes']                            
Rate=[10,2,1,3]
for x,y in zip(Name,Rate):   #two seq list paring through zip
    print(x,',',y)

Mango , 10
Apple , 2
Banana , 1
Grapes , 3

.  
.  
.  
.  
.  

## List Datastructure in Python
* For Loop (Iteration on list)

In [116]:
x = ['15','10','40','30'] 
for i in x:          #iterate over list
    print(i)

15
10
40
30

In [117]:
for i in range(0,len(x)):
    print('Place ',i ,'contains ' ,x[i])

Place  0 contains  15
Place  1 contains  10
Place  2 contains  40
Place  3 contains  30

In [118]:
for index,val in enumerate(x):
    print('Place ',index ,'contains ' ,val)

Place  0 contains  15
Place  1 contains  10
Place  2 contains  40
Place  3 contains  30

In [123]:
#lis = [i**3 for i in range(0,6)]    #list of cubes by comprehension 
#lis = [i for i in range(0,10,2)]    #list of cubes by comprehension

import random
lis =[random.randint(0,2) for i in range(0,10)]   #list of 10 random integers from 0 -> 5
lis

[1, 2, 1, 1, 2, 1, 1, 1, 1, 2]

.  
.  
.  
.  
.  

## Tupples in Python
* Immutable
* Slicing
.  
.  
.  
.

In [132]:
tuple1 =('Mango','Pakistan',5,2018)  #very useful in parallel 
tuple1                    #computing where object should not change
#tuple1[2]
#tuple1[1:3]
#len(tuple1)
#tuple1[1]='Spain'
'Mango' in tuple1

True

In [133]:
for i in tuple1:
    print(i)

Mango
Pakistan
5
2018

In [134]:
for index,val in enumerate(tuple1):
    print('Place ',index ,'contains ' ,val)

Place  0 contains  Mango
Place  1 contains  Pakistan
Place  2 contains  5
Place  3 contains  2018

.  
.  
.  
.  
.  
## Dictionaries in Python  
.  
.  
.  
.  
.

In [146]:
dict1 = {'Mango':5,           #key and value pair
        'Apple':2,
        'Peach':3}
#dict1
#dict1['Mango']
#dict1['Apple']
#len(dict1)
#dict1['Grapes']=4
#dict1
#st = dict1.pop('Peach')
#st = del dict1['Peach']
#print(st)
print(dict1)

SyntaxError: invalid syntax (<ipython-input-146-a5a448f6c556>, line 11)

In [152]:
dict1 = {('Mango',2016):5,         #keys could be tuple
        ('Mango',2017):6}
dict1
#dict1[('Mango',2016)]
#dict1[('Mango',2018)]           #No key error
#dict1.get(('Mango',2018))       #will not give error and return None if key is missing
('Mango',2017) in dict1          #use 'in' to check if key exists

True

In [153]:
for i in dict1:
    print(i)

('Mango', 2016)
('Mango', 2017)

In [154]:
for key,val in dict1.items():
    print(key,' : ',val)

('Mango', 2016)  :  5
('Mango', 2017)  :  6

In [156]:
#dict1 = {i:i**2 for i in range(1,10)}     #create dict of square of numbers 1 -> 9
dict1 = {i:chr(i) for i in range(65,90)}     #create dict of integer values wrt chr
dict1

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y'}

.  
.  
.  
.  
.  

## Sets in Python
* Unorder
* Hold Unique Values 
* Union, Intersection ...etc  
.  
.  
.  
.

In [164]:
my_set = set(['Mango','Apple','Banana','Grapes'])     #give list to set function
#my_set.add('Gava')
#my_set.add('Mango')                                 #Nothing will happen as it is already there
#my_set.discard('Peach')                             #Discard item if it is not there nothing will happen (try remove)
#my_set.remove('Peach')
#my_set = {'Apple', 'Banana', 'Grapes', 'Mango'}
my_set

KeyError: 'Peach'

In [169]:
my_set = set(['Mango','Apple','Banana','Grapes'])   
your_set = set(['Banana','Melon','Apple','Gava'])
#get_union = my_set.union(your_set)
#get_union
#get_common = my_set.intersection(your_set)
#get_common
#dif = my_set.difference(your_set)
#dif
#my_set | your_set
my_set & your_set

{'Apple', 'Banana'}

.  
.  
.  
.  
.  
.  
.  
.  
.  

# Useful link
For debugging:
http://pythontutor.com/visualize.html#mode=edit